<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197859404457-43dqm6cgf6mdghp6tltepg1tp7vbdi2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197859404457-43dqm6cgf6mdghp6tltepg1tp7vbdi2b</string>
	<key>API_KEY</key>
	<string>AIzaSyDocYn-G3KFp7Da-B0Aurt5NZb1kOjLV8o</string>
	<key>GCM_SENDER_ID</key>
	<string>197859404457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HousingInsecurity.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-b8f75</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-b8f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197859404457:ios:2ab3cf60160090329e57b8</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-b8f75.firebaseio.com</string>
</dict>
</plist>